.header {
  display: flex;
  justify-content: space-around;
  /* border-bottom: 1px solid black; */
  padding: 2rem;
  background-color: #1B3C53;
  color: #FFF8F3;
}

.headerLinks {
  display: flex;
  gap: 1em;
}

.linkContent:hover {
  transform: scale(1.05);
}

.linkContent {
  transition: transform .2s ease-in-out;
  text-decoration: none;
  color: #F9F3EF;
  padding: 0.5em 1em;
  background-color: #456882;
  border-radius: 13px;
  cursor: pointer;
}

.logo {
  color: #D2C1B6;
  text-decoration: none;
}