.header {
  display: flex;
  justify-content: space-around;
  /* border-bottom: 1px solid black; */
  padding: 2rem;
  background-color: #1B3C53;
  color: #FFF8F3;
}

.headerLinks {
  display: flex;
  gap: 2em;
}

.linkContent {
  text-decoration: none;
  color: #F9F3EF;
}

.logo {
  color: #D2C1B6;
  text-decoration: none;
}