.comments {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.comment {
  padding-bottom: 1em;
  color: white;
  max-width: 50em;
  overflow: auto;
}

.post {  
  padding-bottom: 2em;
  color: white;
  margin-top: 2em;
  margin-bottom: 5em;
}

.title {
  color: #D2C1B6;
}

.postContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 35%;
  min-width: 35%;
}

.content {
  margin-top: 3em;
}

.commentTitle {
  color: #D2C1B6
}

.commentMessage {
  padding-left: 1em;
}

.commentButton {
  width: fit-content;
  align-self: center;
  padding: 0.2em 0.5em;
  background-color: #F9F3EF;
  border: none;
  border-radius: 5px;
  color: red;
  margin-top: 0.5em;
}

.newCommentForm {
  display: flex;
  flex-direction: column;
  color: white;
  max-width: 40em;
  margin-bottom: 4em;
  align-self: center;
}

.newCommentForm button {
  width: fit-content;
  align-self: center;
  padding: 0.5em 0.8em;
  margin-top: 0.5em;
  border-radius: 10px;
  border: none;
  background-color: #456882;
  color: white;
  cursor: pointer;
}

.newCommentForm textarea {
  resize: vertical;
  max-height: 8em;
  min-height: 2em;
}